<link rel="stylesheet" href="/Css/home.css">
<h1 class="header1">codial/homePage</h1>
<div id="detalis">
<section id="new-post">
    <%if(locals.user){%>
        <form action="/post/create" id="new-feed" method="post">
            <textarea name="content" id="new-content" cols="30" rows="3" placeholder="Type Here...."></textarea>
             <input type="submit" value="Post">
        </form>
    <%}%>
    <section id="friend-circle">
        <div id="friend-list">
            <h4>Friend-list</h4>
            <% for(u of All_user){%>
                <a href="/user/profile/<%= u.id%>"><%=u.name%></a><br>
                <br>
            <%}%>
        </div>
    </section>
</section>
<ul>
    <%for(post of posts){%>

       <%- include('_post') -%>
     
    <%}%>
    
</ul>

</div>