#new-post{
    height:200px;
    width:400px;
    margin-left: 28rem;
    #new-content{
        background-color: wheat;
        color:red;
        font-style: italic;
        font-size:20px;
        border-radius: 7px;
        
        
    }
    input{
        background-color: crimson;
        border-radius: 5px;
        color:purple;
        font-weight: bolder;
    }
    
}

.details-post{
    height:180px;
    width:380px;
    border:1px solid red;
    margin-left: 30rem;
    position: relative;

    li{
        color:crimson;
        font-style:italic;
        font-size:25px;
        list-style: none;
    }
    li:hover{
        color:greenyellow;
    }
    input{
        font-style: italic;
        color:blue;
        border:2px solid black;
        border-radius: 5px;
        background-color: pink;
    }
    
}


