#new-post {
  height: 200px;
  width: 400px;
  margin-left: 28rem;
}

#new-post #new-content {
  background-color: wheat;
  color: red;
  font-style: italic;
  font-size: 20px;
  border-radius: 7px;
}

#new-post input {
  background-color: crimson;
  border-radius: 5px;
  color: purple;
  font-weight: bolder;
}

.details-post {
  height: auto;
  width: 380px;
  border: 1px solid red;
  margin-left: 30rem;
  display: flex;
  flex-direction: column;
}

.details-post li {
  color: crimson;
  font-style: italic;
  font-size: 25px;
  list-style: none;
}

.details-post li:hover {
  color: greenyellow;
}

.details-post input {
  font-style: italic;
  color: blue;
  border: 2px solid black;
  border-radius: 5px;
  background-color: pink;
}
