body {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

body .header1 {
  color: purple;
  font-size: 40px;
  font-style: italic;
}

body .header1:hover {
  color: chartreuse;
}

body p {
  color: red;
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
}

body p:hover {
  color: blueviolet;
}

body img {
  margin-top: 0px;
}
